* {
  box-sizing: border-box;
}

$color-valid-item: #9aff67;
$color-focus-item: #ffff74;

.crossword-board-container {
  padding-bottom: 57px;
  position: relative;
  background: #ffffff;
}

.crossword-board-wrap {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 29px solid #0078dc;
  position: relative;
}

.crossword-board {
  z-index: 1;
  display: grid;
  grid-template: repeat(35, 28px) / repeat(30, 28px);
  list-style-type: none;
}

.crossword-board__item {
  border: 1px solid #0078dc;
  background: transparent;
  position: relative;
  z-index: 100;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  width: 28px;
  height: 28px;

  &:active,
  &:focus {
    background: $color-focus-item;
    border: 1px solid #000000;
    outline: 1px solid #000000;
  }

  &:valid {
    background: #b5d45b;
  }
}

.crossword-board__item--blank {
  background: #0078dc;
  border: 1px solid #0078dc;
  outline: 1px solid #0078dc;
}

.crossword-board__item-label-fin {
  border: 1px solid #0078dc;
  position: relative;
  background-color: #f7d9a2;
  grid-row: 1;
  grid-column: 1;

  .crossword-board__item-label-text {
    top: inherit;
    bottom: 2px;
    left: 2px;
  }
}

.crossword-board__item-label_fin-1 {
  grid-row: 10;
  grid-column: 11;
}

.crossword-board__item-label_fin-2 {
  grid-row: 12;
  grid-column: 15;
}

.crossword-board__item-label_fin-3 {
  grid-row: 30;
  grid-column: 28;
}

.crossword-board__item-label_fin-4 {
  grid-row: 30;
  grid-column: 8;
}

.crossword-board__item-label_fin-5 {
  grid-row: 22;
  grid-column: 6;
}

.crossword-board__item-label_fin-6 {
  grid-row: 7;
  grid-column: 19;
}

.crossword-board__item-label_fin-7 {
  grid-row: 9;
  grid-column: 15;
}

.crossword-board__item-label_fin-8 {
  grid-row: 14;
  grid-column: 22;
}

.crossword-board__item-label_fin-9 {
  grid-row: 21;
  grid-column: 28;
}

.crossword-board__item-label_fin-10 {
  grid-row: 8;
  grid-column: 8;
}

.crossword-board__item-label_fin-11 {
  grid-row: 9;
  grid-column: 26;
}

.crossword-board__item-label_fin-12 {
  grid-row: 29;
  grid-column: 23;
}


#item10-11:valid~.crossword-word .crossword-letter--1 {
  .crossword-letter__text {
    display: block;
  }
}

#item12-15:valid~.crossword-word .crossword-letter--2 {
  .crossword-letter__text {
    display: block;
  }
}

#item30-28:valid~.crossword-word .crossword-letter--3 {
  .crossword-letter__text {
    display: block;
  }
}

#item30-8:valid~.crossword-word .crossword-letter--4 {
  .crossword-letter__text {
    display: block;
  }
}

#item22-6:valid~.crossword-word .crossword-letter--5 {
  .crossword-letter__text {
    display: block;
  }
}

#item7-19:valid~.crossword-word .crossword-letter--6 {
  .crossword-letter__text {
    display: block;
  }
}

#item9-15:valid~.crossword-word .crossword-letter--7 {
  .crossword-letter__text {
    display: block;
  }
}

#item14-22:valid~.crossword-word .crossword-letter--8 {
  .crossword-letter__text {
    display: block;
  }
}

#item21-28:valid~.crossword-word .crossword-letter--9 {
  .crossword-letter__text {
    display: block;
  }
}

#item8-8:valid~.crossword-word .crossword-letter--10 {
  .crossword-letter__text {
    display: block;
  }
}

#item9-26:valid~.crossword-word .crossword-letter--11 {
  .crossword-letter__text {
    display: block;
  }
}

#item29-23:valid~.crossword-word .crossword-letter--12 {
  .crossword-letter__text {
    display: block;
  }
}




.crossword-board--labels {
  position: absolute;
  pointer-events: none;
}

.crossword-board--labels:not(.crossword-board--labels-fin) {
  z-index: 100;
}

.crossword-board__item-label {
  position: relative;
  grid-row: 1;
  grid-column: 1;
}

.crossword-board__item-label-text {
  position: absolute;
  top: 2px;
  left: 2px;
  font-size: 10px;
}

.crossword-board__item-label--1 {
  grid-row: 4;
  grid-column: 7;
}

.crossword-board__item-label--2 {
  grid-row: 8;
  grid-column: 4;

}

.crossword-board__item-label--3 {
  grid-row: 4;
  grid-column: 9;
}

.crossword-board__item-label--4 {
  grid-row: 13;
  grid-column: 2;
}

.crossword-board__item-label--5 {
  grid-row: 7;
  grid-column: 11;
}

.crossword-board__item-label--6 {
  grid-row: 10;
  grid-column: 9;
}

.crossword-board__item-label--7 {
  grid-row: 16;
  grid-column: 3;
}

.crossword-board__item-label--8 {
  grid-row: 13;
  grid-column: 6;
}

.crossword-board__item-label--9 {
  grid-row: 12;
  grid-column: 9;
}

.crossword-board__item-label--10 {
  grid-row: 18;
  grid-column: 4;
}

.crossword-board__item-label--11 {
  grid-row: 20;
  grid-column: 2;
}

.crossword-board__item-label--12 {
  grid-row: 5;
  grid-column: 17;
}

.crossword-board__item-label--13 {
  grid-row: 8;
  grid-column: 15;
}

.crossword-board__item-label--14 {
  grid-row: 15;
  grid-column: 8;
}

.crossword-board__item-label--15 {
  grid-row: 9;
  grid-column: 14;
}

.crossword-board__item-label--16 {
  grid-row: 2;
  grid-column: 21;
}

.crossword-board__item-label--17 {
  grid-row: 14;
  grid-column: 10;
}

.crossword-board__item-label--18 {
  grid-row: 11;
  grid-column: 13;
}

.crossword-board__item-label--19 {
  grid-row: 7;
  grid-column: 17;
}

.crossword-board__item-label--20 {
  grid-row: 5;
  grid-column: 19;
}


.crossword-board__item-label--21 {
  grid-row: 16;
  grid-column: 10;
}

.crossword-board__item-label--22 {
  grid-row: 22;
  grid-column: 4;
}

.crossword-board__item-label--23 {
  grid-row: 1;
  grid-column: 25;
}

.crossword-board__item-label--24 {
  grid-row: 25;
  grid-column: 1;
}

.crossword-board__item-label--25 {
  grid-row: 16;
  grid-column: 11;
}

.crossword-board__item-label--26 {
  grid-row: 22;
  grid-column: 5;
}

.crossword-board__item-label--27 {
  grid-row: 11;
  grid-column: 17;
}

.crossword-board__item-label--28 {
  grid-row: 9;
  grid-column: 19;
}

.crossword-board__item-label--29 {
  grid-row: 14;
  grid-column: 15;
}

.crossword-board__item-label--30 {
  grid-row: 18;
  grid-column: 13;
}

.crossword-board__item-label--31 {
  grid-row: 3;
  grid-column: 28;
}

.crossword-board__item-label--32 {
  grid-row: 27;
  grid-column: 4;
}

.crossword-board__item-label--33 {
  grid-row: 24;
  grid-column: 7;
}

.crossword-board__item-label--34 {
  grid-row: 9;
  grid-column: 23;
}

.crossword-board__item-label--35 {
  grid-row: 16;
  grid-column: 17;
}

.crossword-board__item-label--36 {
  grid-row: 11;
  grid-column: 22;
}

.crossword-board__item-label--37 {
  grid-row: 30;
  grid-column: 3;
}

.crossword-board__item-label--38 {
  grid-row: 20;
  grid-column: 14;
}

.crossword-board__item-label--39 {
  grid-row: 14;
  grid-column: 20;
}

.crossword-board__item-label--40 {
  grid-row: 23;
  grid-column: 11;
}

.crossword-board__item-label--41 {
  grid-row: 27;
  grid-column: 8;
}

.crossword-board__item-label--42 {
  grid-row: 17;
  grid-column: 19;
}

.crossword-board__item-label--43 {
  grid-row: 11;
  grid-column: 26;
}

.crossword-board__item-label--44 {
  grid-row: 24;
  grid-column: 14;
}

.crossword-board__item-label--45 {
  grid-row: 30;
  grid-column: 10;
}

.crossword-board__item-label--46 {
  grid-row: 22;
  grid-column: 19;
}

.crossword-board__item-label--47 {
  grid-row: 22;
  grid-column: 21;
}

.crossword-board__item-label--48 {
  grid-row: 24;
  grid-column: 21;
}


.crossword-board__item-label--49 {
  grid-row: 19;
  grid-column: 27;
}

.crossword-board__item-label--50 {
  grid-row: 24;
  grid-column: 23;
}

.crossword-board__item-label--51 {
  grid-row: 21;
  grid-column: 26;
}

.crossword-board__item-label--52 {
  grid-row: 24;
  grid-column: 25;
}

.crossword-board__item-label--53 {
  grid-row: 28;
  grid-column: 22;
}

.crossword-board__item-label--54 {
  grid-row: 26;
  grid-column: 25;
}

.crossword-board__item-label--55 {
  grid-row: 28;
  grid-column: 23;
}

.crossword-board__item-label--56 {
  grid-row: 28;
  grid-column: 27;
}

.crossword-board__item-label--57 {
  grid-row: 30;
  grid-column: 26;
}

.crossword-board__item-label--58 {
  grid-row: 19;
  grid-column: 29;
}

.crossword-board--highlight {
  position: absolute;
  z-index: 50;
}

.crossword-board__item-highlight {
  background: $color-valid-item;
  display: grid;
  opacity: 0;
  transition: opacity 0.3s linear;
}

#checkvaliditems:checked~.crossword-board-container .crossword-board__item:valid {
  background: $color-valid-item;
}

.crossword-complete {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  font-size: 60px;
  line-height: 1;
  color: green;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.75);
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
}

.crossword-word {
  display: flex;
  border: 1px solid #000;
  position: absolute;
  bottom: -85px;
  left: 50%;
  transform: translateX(-50%);
}

.crossword-letter {
  position: relative;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #000;
  font-size: 28px;
  text-align: center;
  background-color: #f7d9a2;
}

.crossword-letter__text {
  position: relative;
  bottom: 5px;
  display: none;
}

.crossword-letter__lbl {
  position: absolute;
  right: 2px;
  bottom: 2px;
  font-size: 12px;
  line-height: 1;
}

.crossword-clues {
  position: absolute;
  top: -28px;
  right: 0%;
  width: 300px;
  transform: translateX(calc(100% + 30px));
  overflow: auto;
  height: calc(100% + 113px);
  padding-left: 20px;
}

.crossword-clues__list {
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: top;
}

.crossword-clues__list-title {
  font-weight: bold;
  padding: 4px;
}

.crossword-clues__list-item {
  margin: 0;
  padding: 4px;
}

#item4-7,
#item5-7,
#item6-7,
#item7-7,
#item8-7 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--down-1 {
      background: $color-focus-item;
    }
  }
}

#item8-4,
#item8-5,
#item8-6,
#item8-7,
#item8-8,
#item8-9 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--across-2 {
      background: $color-focus-item;
    }
  }
}


#item4-9,
#item5-9,
#item6-9,
#item7-9,
#item8-9,
#item9-9,
#item10-9,
#item11-9,
#item12-9 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--down-3 {
      background: $color-focus-item;
    }
  }
}

#item13-2,
#item13-3,
#item13-4,
#item13-5,
#item13-6 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--across-4 {
      background: $color-focus-item;
    }
  }
}

#item7-11,
#item8-11,
#item9-11,
#item10-11 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--down-5 {
      background: $color-focus-item;
    }
  }
}

#item10-9,
#item10-10,
#item10-11 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--across-6 {
      background: $color-focus-item;
    }
  }
}

#item16-3,
#item16-4,
#item16-5,
#item16-6,
#item16-7,
#item16-8 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--across-7 {
      background: $color-focus-item;
    }
  }
}

#item13-6,
#item14-6,
#item15-6,
#item16-6 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--down-8 {
      background: $color-focus-item;
    }
  }
}

#item12-9,
#item12-10,
#item12-11,
#item12-12,
#item12-13,
#item12-14,
#item12-15,
#item12-16,
#item12-17 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--across-9 {
      background: $color-focus-item;
    }
  }
}

#item18-4,
#item18-5,
#item18-6,
#item18-7,
#item18-8,
#item18-9,
#item18-10,
#item18-11 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--across-10 {
      background: $color-focus-item;
    }
  }
}

#item20-2,
#item20-3,
#item20-4,
#item20-5,
#item20-6,
#item20-7,
#item20-8,
#item20-9,
#item20-10 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--across-11 {
      background: $color-focus-item;
    }
  }
}

#item5-17,
#item6-17,
#item7-17,
#item8-17,
#item9-17 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--down-12 {
      background: $color-focus-item;
    }
  }
}

#item8-15,
#item9-15,
#item10-15,
#item11-15,
#item12-15 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--down-13 {
      background: $color-focus-item;
    }
  }
}

#item15-8,
#item16-8,
#item17-8,
#item18-8,
#item19-8,
#item20-8,
#item21-8,
#item22-8 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--down-14 {
      background: $color-focus-item;
    }
  }
}


#item9-14,
#item9-15,
#item9-16,
#item9-17 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--across-15 {
      background: $color-focus-item;
    }
  }
}

#item2-21,
#item3-21,
#item4-21,
#item5-21,
#item6-21,
#item7-21 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--down-16 {
      background: $color-focus-item;
    }
  }
}

#item14-10,
#item14-11,
#item14-12,
#item14-13,
#item14-14,
#item14-15,
#item14-16,
#item14-17,
#item14-18 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--across-17 {
      background: $color-focus-item;
    }
  }
}



#item11-13,
#item12-13,
#item13-13,
#item14-13 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--down-18 {
      background: $color-focus-item;
    }
  }
}

#item7-17,
#item7-18,
#item7-19,
#item7-20,
#item7-21,
#item7-22,
#item7-23 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--across-19 {
      background: $color-focus-item;
    }
  }
}

#item5-19,
#item6-19,
#item7-19,
#item8-19,
#item9-19 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--down-20 {
      background: $color-focus-item;
    }
  }
}

#item16-10,
#item16-11,
#item16-12,
#item16-13,
#item16-14,
#item16-15 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--across-21 {
      background: $color-focus-item;
    }
  }
}

#item22-4,
#item22-5,
#item22-6,
#item22-7,
#item22-8 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--across-22 {
      background: $color-focus-item;
    }
  }
}

#item1-25,
#item2-25,
#item3-25,
#item4-25,
#item5-25,
#item6-25,
#item7-25,
#item8-25,
#item9-25 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--down-23 {
      background: $color-focus-item;
    }
  }
}

#item25-1,
#item25-2,
#item25-3,
#item25-4,
#item25-5 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--across-24 {
      background: $color-focus-item;
    }
  }
}

#item16-11,
#item17-11,
#item18-11 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--down-25 {
      background: $color-focus-item;
    }
  }
}

#item22-5,
#item23-5,
#item24-5,
#item25-5,
#item26-5,
#item27-5 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--down-26 {
      background: $color-focus-item;
    }
  }
}

#item11-17,
#item12-17,
#item13-17,
#item14-17 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--down-27 {
      background: $color-focus-item;
    }
  }
}

#item9-19,
#item9-20,
#item9-21,
#item9-22,
#item9-23,
#item9-24,
#item9-25,
#item9-26,
#item9-27,
#item9-28 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--across-28 {
      background: $color-focus-item;
    }
  }
}

#item14-15,
#item15-15,
#item16-15,
#item17-15,
#item18-15 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--down-29 {
      background: $color-focus-item;
    }
  }
}


#item18-13,
#item18-14,
#item18-15,
#item18-16,
#item18-17,
#item18-18,
#item18-19,
#item18-20 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--across-30 {
      background: $color-focus-item;
    }
  }
}

#item3-28,
#item4-28,
#item5-28,
#item6-28,
#item7-28,
#item8-28,
#item9-28 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--down-31 {
      background: $color-focus-item;
    }
  }
}

#item27-4,
#item27-5,
#item27-6,
#item27-7,
#item27-8,
#item27-9,
#item27-10,
#item27-11 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--across-32 {
      background: $color-focus-item;
    }
  }
}

#item24-7,
#item24-8,
#item24-9,
#item24-10,
#item24-11,
#item24-12,
#item24-13,
#item24-14 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--across-33 {
      background: $color-focus-item;
    }
  }
}

#item9-23,
#item10-23,
#item11-23 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--down-34 {
      background: $color-focus-item;
    }
  }
}

#item16-17,
#item17-17,
#item18-17,
#item19-17,
#item20-17,
#item21-17 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--down-35 {
      background: $color-focus-item;
    }
  }
}

#item11-22,
#item11-23,
#item11-24,
#item11-25,
#item11-26,
#item11-27,
#item11-28 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--across-36 {
      background: $color-focus-item;
    }
  }
}

#item30-3,
#item30-4,
#item30-5,
#item30-6,
#item30-7,
#item30-8,
#item30-9,
#item30-10 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--across-37 {
      background: $color-focus-item;
    }
  }
}

#item20-14,
#item20-15,
#item20-16,
#item20-17,
#item20-18,
#item20-19 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--across-38 {
      background: $color-focus-item;
    }
  }
}

#item14-20,
#item14-21,
#item14-22,
#item14-23,
#item14-24,
#item14-25,
#item14-26,
#item14-27,
#item14-28,
#item14-29 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--across-39 {
      background: $color-focus-item;
    }
  }
}

#item23-11,
#item24-11,
#item25-11,
#item26-11,
#item27-11 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--down-40 {
      background: $color-focus-item;
    }
  }
}

#item27-8,
#item28-8,
#item29-8,
#item30-8,
#item31-8,
#item32-8,
#item33-8 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--down-41 {
      background: $color-focus-item;
    }
  }
}

#item17-19,
#item18-19,
#item19-19,
#item20-19,
#item21-19,
#item22-19 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--down-42 {
      background: $color-focus-item;
    }
  }
}

#item11-26,
#item12-26,
#item13-26,
#item14-26,
#item15-26 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--down-43 {
      background: $color-focus-item;
    }
  }
}

#item24-14,
#item25-14,
#item26-14 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--down-44 {
      background: $color-focus-item;
    }
  }
}

#item30-10,
#item31-10,
#item32-10,
#item33-10,
#item34-10,
#item35-10 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--down-45 {
      background: $color-focus-item;
    }
  }
}


#item22-19,
#item22-20,
#item22-21,
#item22-22 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--across-46 {
      background: $color-focus-item;
    }
  }
}

#item22-21,
#item23-21,
#item24-21,
#item25-21 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--down-47 {
      background: $color-focus-item;
    }
  }
}

#item24-21,
#item24-22,
#item24-23,
#item24-24,
#item24-25,
#item24-26,
#item24-27 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--across-48 {
      background: $color-focus-item;
    }
  }
}

#item19-27,
#item20-27,
#item21-27,
#item22-27,
#item23-27,
#item24-27 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--down-49 {
      background: $color-focus-item;
    }
  }
}

#item24-23,
#item25-23,
#item26-23 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--down-50 {
      background: $color-focus-item;
    }
  }
}


#item21-26,
#item21-27,
#item21-28,
#item21-29 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--across-51 {
      background: $color-focus-item;
    }
  }
}


#item24-25,
#item25-25,
#item26-25,
#item27-25,
#item28-25 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--down-52 {
      background: $color-focus-item;
    }
  }
}


#item28-22,
#item28-23,
#item28-24,
#item28-25,
#item28-26,
#item28-27,
#item28-28 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--across-53 {
      background: $color-focus-item;
    }
  }
}


#item26-25,
#item26-26,
#item26-27,
#item26-28,
#item26-29,
#item26-30 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--across-54 {
      background: $color-focus-item;
    }
  }
}

#item28-23,
#item29-23,
#item30-23,
#item31-23,
#item32-23,
#item33-23 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--down-55 {
      background: $color-focus-item;
    }
  }
}

#item28-27,
#item29-27,
#item30-27,
#item31-27 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--down-56 {
      background: $color-focus-item;
    }
  }
}

#item30-26,
#item30-27,
#item30-28,
#item30-29 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--across-57 {
      background: $color-focus-item;
    }
  }
}

#item19-29,
#item20-29,
#item21-29,
#item22-29,
#item23-29,
#item24-29 {

  &:active,
  &:focus,
  &:hover {
    &~.crossword-clues .crossword-clues__list-item--down-58 {
      background: $color-focus-item;
    }
  }
}




// !
// !
// !
// !
// !
// !
// !
// !
// !
// !

#item4-7:valid~#item5-7:valid~#item6-7:valid~#item7-7:valid~#item8-7:valid~.crossword-clues .crossword-clues__list-item--down-1 {
  background: $color-valid-item;
}

#item8-4:valid~#item8-5:valid~#item8-6:valid~#item8-7:valid~#item8-8:valid~#item8-9:valid~.crossword-clues .crossword-clues__list-item--across-2 {
  background: $color-valid-item;
}


#item4-9:valid~#item5-9:valid~#item6-9:valid~#item7-9:valid~#item8-9:valid~#item9-9:valid~#item10-9:valid~#item11-9:valid~#item12-9:valid~.crossword-clues .crossword-clues__list-item--down-3 {
  background: $color-valid-item;
}

#item13-2:valid~#item13-3:valid~#item13-4:valid~#item13-5:valid~#item13-6:valid~.crossword-clues .crossword-clues__list-item--across-4 {
  background: $color-valid-item;
}

#item7-11:valid~#item8-11:valid~#item9-11:valid~#item10-11:valid~.crossword-clues .crossword-clues__list-item--down-5 {
  background: $color-valid-item;
}


#item10-9:valid~#item10-10:valid~#item10-11:valid~.crossword-clues .crossword-clues__list-item--across-6 {
  background: $color-valid-item;
}


#item16-3:valid~#item16-4:valid~#item16-5:valid~#item16-6:valid~#item16-7:valid~#item16-8:valid~.crossword-clues .crossword-clues__list-item--across-7 {
  background: $color-valid-item;
}


#item13-6:valid~#item14-6:valid~#item15-6:valid~#item16-6:valid~.crossword-clues .crossword-clues__list-item--down-8 {
  background: $color-valid-item;
}


#item12-9:valid~#item12-10:valid~#item12-11:valid~#item12-12:valid~#item12-13:valid~#item12-14:valid~#item12-15:valid~#item12-16:valid~#item12-17:valid~.crossword-clues .crossword-clues__list-item--across-9 {
  background: $color-valid-item;
}


#item18-4:valid~#item18-5:valid~#item18-6:valid~#item18-7:valid~#item18-8:valid~#item18-9:valid~#item18-10:valid~#item18-11:valid~.crossword-clues .crossword-clues__list-item--across-10 {
  background: $color-valid-item;
}


#item20-2:valid~#item20-3:valid~#item20-4:valid~#item20-5:valid~#item20-6:valid~#item20-7:valid~#item20-8:valid~#item20-9:valid~#item20-10:valid~.crossword-clues .crossword-clues__list-item--across-11 {
  background: $color-valid-item;
}


#item5-17:valid~#item6-17:valid~#item7-17:valid~#item8-17:valid~#item9-17:valid~.crossword-clues .crossword-clues__list-item--down-12 {
  background: $color-valid-item;
}


#item8-15:valid~#item9-15:valid~#item10-15:valid~#item11-15:valid~#item12-15:valid~.crossword-clues .crossword-clues__list-item--down-13 {
  background: $color-valid-item;
}


#item15-8:valid~#item16-8:valid~#item17-8:valid~#item18-8:valid~#item19-8:valid~#item20-8:valid~#item21-8:valid~#item22-8:valid~.crossword-clues .crossword-clues__list-item--down-14 {
  background: $color-valid-item;
}



#item9-14:valid~#item9-15:valid~#item9-16:valid~#item9-17:valid~.crossword-clues .crossword-clues__list-item--across-15 {
  background: $color-valid-item;
}


#item2-21:valid~#item3-21:valid~#item4-21:valid~#item5-21:valid~#item6-21:valid~#item7-21:valid~.crossword-clues .crossword-clues__list-item--down-16 {
  background: $color-valid-item;
}


#item14-10:valid~#item14-11:valid~#item14-12:valid~#item14-13:valid~#item14-14:valid~#item14-15:valid~#item14-16:valid~#item14-17:valid~#item14-18:valid~.crossword-clues .crossword-clues__list-item--across-17 {
  background: $color-valid-item;
}



#item11-13:valid~#item12-13:valid~#item13-13:valid~#item14-13:valid~.crossword-clues .crossword-clues__list-item--down-18 {
  background: $color-valid-item;
}

#item7-17:valid~#item7-18:valid~#item7-19:valid~#item7-20:valid~#item7-21:valid~#item7-22:valid~#item7-23:valid~.crossword-clues .crossword-clues__list-item--across-19 {
  background: $color-valid-item;
}


#item5-19:valid~#item6-19:valid~#item7-19:valid~#item8-19:valid~#item9-19:valid~.crossword-clues .crossword-clues__list-item--down-20 {
  background: $color-valid-item;
}


#item16-10:valid~#item16-11:valid~#item16-12:valid~#item16-13:valid~#item16-14:valid~#item16-15:valid~.crossword-clues .crossword-clues__list-item--across-21 {
  background: $color-valid-item;
}


#item22-4:valid~#item22-5:valid~#item22-6:valid~#item22-7:valid~#item22-8:valid~.crossword-clues .crossword-clues__list-item--across-22 {
  background: $color-valid-item;
}


#item1-25:valid~#item2-25:valid~#item3-25:valid~#item4-25:valid~#item5-25:valid~#item6-25:valid~#item7-25:valid~#item8-25:valid~#item9-25:valid~.crossword-clues .crossword-clues__list-item--down-23 {
  background: $color-valid-item;
}


#item25-1:valid~#item25-2:valid~#item25-3:valid~#item25-4:valid~#item25-5:valid~.crossword-clues .crossword-clues__list-item--across-24 {
  background: $color-valid-item;
}


#item16-11:valid~#item17-11:valid~#item18-11:valid~.crossword-clues .crossword-clues__list-item--down-25 {
  background: $color-valid-item;
}

#item22-5:valid~#item23-5:valid~#item24-5:valid~#item25-5:valid~#item26-5:valid~#item27-5:valid~.crossword-clues .crossword-clues__list-item--down-26 {
  background: $color-valid-item;
}


#item11-17:valid~#item12-17:valid~#item13-17:valid~#item14-17:valid~.crossword-clues .crossword-clues__list-item--down-27 {
  background: $color-valid-item;
}


#item9-19:valid~#item9-20:valid~#item9-21:valid~#item9-22:valid~#item9-23:valid~#item9-24:valid~#item9-25:valid~#item9-26:valid~#item9-27:valid~#item9-28:valid~.crossword-clues .crossword-clues__list-item--across-28 {
  background: $color-valid-item;
}


#item14-15:valid~#item15-15:valid~#item16-15:valid~#item17-15:valid~#item18-15:valid~.crossword-clues .crossword-clues__list-item--down-29 {
  background: $color-valid-item;
}



#item18-13:valid~#item18-14:valid~#item18-15:valid~#item18-16:valid~#item18-17:valid~#item18-18:valid~#item18-19:valid~#item18-20:valid~.crossword-clues .crossword-clues__list-item--across-30 {
  background: $color-valid-item;
}


#item3-28:valid~#item4-28:valid~#item5-28:valid~#item6-28:valid~#item7-28:valid~#item8-28:valid~#item9-28:valid~.crossword-clues .crossword-clues__list-item--down-31 {
  background: $color-valid-item;
}


#item27-4:valid~#item27-5:valid~#item27-6:valid~#item27-7:valid~#item27-8:valid~#item27-9:valid~#item27-10:valid~#item27-11:valid~.crossword-clues .crossword-clues__list-item--across-32 {
  background: $color-valid-item;
}

#item24-7:valid~#item24-8:valid~#item24-9:valid~#item24-10:valid~#item24-11:valid~#item24-12:valid~#item24-13:valid~#item24-14:valid~.crossword-clues .crossword-clues__list-item--across-33 {
  background: $color-valid-item;
}


#item9-23:valid~#item10-23:valid~#item11-23:valid~.crossword-clues .crossword-clues__list-item--down-34 {
  background: $color-valid-item;
}


#item16-17:valid~#item17-17:valid~#item18-17:valid~#item19-17:valid~#item20-17:valid~#item21-17:valid~.crossword-clues .crossword-clues__list-item--down-35 {
  background: $color-valid-item;
}


#item11-22:valid~#item11-23:valid~#item11-24:valid~#item11-25:valid~#item11-26:valid~#item11-27:valid~#item11-28:valid~.crossword-clues .crossword-clues__list-item--across-36 {
  background: $color-valid-item;
}


#item30-3:valid~#item30-4:valid~#item30-5:valid~#item30-6:valid~#item30-7:valid~#item30-8:valid~#item30-9:valid~#item30-10:valid~.crossword-clues .crossword-clues__list-item--across-37 {
  background: $color-valid-item;
}


#item20-14:valid~#item20-15:valid~#item20-16:valid~#item20-17:valid~#item20-18:valid~#item20-19:valid~.crossword-clues .crossword-clues__list-item--across-38 {
  background: $color-valid-item;
}

#item14-20:valid~#item14-21:valid~#item14-22:valid~#item14-23:valid~#item14-24:valid~#item14-25:valid~#item14-26:valid~#item14-27:valid~#item14-28:valid~#item14-29:valid~.crossword-clues .crossword-clues__list-item--across-39 {
  background: $color-valid-item;
}


#item23-11:valid~#item24-11:valid~#item25-11:valid~#item26-11:valid~#item27-11:valid~.crossword-clues .crossword-clues__list-item--down-40 {
  background: $color-valid-item;
}


#item27-8:valid~#item28-8:valid~#item29-8:valid~#item30-8:valid~#item31-8:valid~#item32-8:valid~#item33-8:valid~.crossword-clues .crossword-clues__list-item--down-41 {
  background: $color-valid-item;
}

#item17-19:valid~#item18-19:valid~#item19-19:valid~#item20-19:valid~#item21-19:valid~#item22-19:valid~.crossword-clues .crossword-clues__list-item--down-42 {
  background: $color-valid-item;
}


#item11-26:valid~#item12-26:valid~#item13-26:valid~#item14-26:valid~#item15-26:valid~.crossword-clues .crossword-clues__list-item--down-43 {
  background: $color-valid-item;
}


#item24-14:valid~#item25-14:valid~#item26-14:valid~.crossword-clues .crossword-clues__list-item--down-44 {
  background: $color-valid-item;
}


#item30-10:valid~#item31-10:valid~#item32-10:valid~#item33-10:valid~#item34-10:valid~#item35-10:valid~.crossword-clues .crossword-clues__list-item--down-45 {
  background: $color-valid-item;
}


#item22-19:valid~#item22-20:valid~#item22-21:valid~#item22-22:valid~.crossword-clues .crossword-clues__list-item--across-46 {
  background: $color-valid-item;
}

#item22-21:valid~#item23-21:valid~#item24-21:valid~#item25-21:valid~.crossword-clues .crossword-clues__list-item--down-47 {
  background: $color-valid-item;
}


#item24-21:valid~#item24-22:valid~#item24-23:valid~#item24-24:valid~#item24-25:valid~#item24-26:valid~#item24-27:valid~.crossword-clues .crossword-clues__list-item--across-48 {
  background: $color-valid-item;
}


#item19-27:valid~#item20-27:valid~#item21-27:valid~#item22-27:valid~#item23-27:valid~#item24-27:valid~.crossword-clues .crossword-clues__list-item--down-49 {
  background: $color-valid-item;
}


#item24-23:valid~#item25-23:valid~#item26-23:valid~.crossword-clues .crossword-clues__list-item--down-50 {
  background: $color-valid-item;
}



#item21-26:valid~#item21-27:valid~#item21-28:valid~#item21-29:valid~.crossword-clues .crossword-clues__list-item--across-51 {
  background: $color-valid-item;
}


#item24-25:valid~#item25-25:valid~#item26-25:valid~#item27-25:valid~#item28-25:valid~.crossword-clues .crossword-clues__list-item--down-52 {
  background: $color-valid-item;
}



#item28-22:valid~#item28-23:valid~#item28-24:valid~#item28-25:valid~#item28-26:valid~#item28-27:valid~#item28-28:valid~.crossword-clues .crossword-clues__list-item--across-53 {
  background: $color-valid-item;
}



#item26-25:valid~#item26-26:valid~#item26-27:valid~#item26-28:valid~#item26-29:valid~#item26-30:valid~.crossword-clues .crossword-clues__list-item--across-54 {
  background: $color-valid-item;
}


#item28-23:valid~#item29-23:valid~#item30-23:valid~#item31-23:valid~#item32-23:valid~#item33-23:valid~.crossword-clues .crossword-clues__list-item--down-55 {
  background: $color-valid-item;
}


#item28-27:valid~#item29-27:valid~#item30-27:valid~#item31-27:valid~.crossword-clues .crossword-clues__list-item--down-56 {
  background: $color-valid-item;
}


#item30-26:valid~#item30-27:valid~#item30-28:valid~#item30-29:valid~.crossword-clues .crossword-clues__list-item--across-57 {
  background: $color-valid-item;
}


#item19-29:valid~#item20-29:valid~#item21-29:valid~#item22-29:valid~#item23-29:valid~#item24-29:valid~.crossword-clues .crossword-clues__list-item--down-58 {
  background: $color-valid-item;
}


#item1-25:valid~#item2-21:valid~#item2-25:valid~#item3-21:valid~#item3-25:valid~#item3-28:valid~#item4-7:valid~#item4-9:valid~#item4-21:valid~#item4-25:valid~#item4-28:valid~#item5-7:valid~#item5-9:valid~#item5-17:valid~#item5-19:valid~#item5-21:valid~#item5-25:valid~#item5-28:valid~#item6-7:valid~#item6-9:valid~#item6-17:valid~#item6-19:valid~#item6-21:valid~#item6-25:valid~#item6-28:valid~#item7-7:valid~#item7-9:valid~#item7-11:valid~#item7-17:valid~#item7-18:valid~#item7-19:valid~#item7-20:valid~#item7-21:valid~#item7-22:valid~#item7-23:valid~#item7-25:valid~#item7-28:valid~#item8-4:valid~#item8-5:valid~#item8-6:valid~#item8-7:valid~#item8-8:valid~#item8-9:valid~#item8-11:valid~#item8-15:valid~#item8-17:valid~#item8-19:valid~#item8-25:valid~#item8-28:valid~#item9-9:valid~#item9-11:valid~#item9-14:valid~#item9-15:valid~#item9-16:valid~#item9-17:valid~#item9-19:valid~#item9-20:valid~#item9-21:valid~#item9-22:valid~#item9-23:valid~#item9-24:valid~#item9-25:valid~#item9-26:valid~#item9-27:valid~#item9-28:valid~#item10-9:valid~#item10-10:valid~#item10-11:valid~#item10-15:valid~#item10-23:valid~#item11-9:valid~#item11-13:valid~#item11-15:valid~#item11-17:valid~#item11-22:valid~#item11-23:valid~#item11-24:valid~#item11-25:valid~#item11-26:valid~#item11-27:valid~#item11-28:valid~#item12-9:valid~#item12-10:valid~#item12-11:valid~#item12-12:valid~#item12-13:valid~#item12-14:valid~#item12-15:valid~#item12-16:valid~#item12-17:valid~#item12-26:valid~#item13-2:valid~#item13-3:valid~#item13-4:valid~#item13-5:valid~#item13-6:valid~#item13-13:valid~#item13-17:valid~#item13-26:valid~#item14-6:valid~#item14-10:valid~#item14-11:valid~#item14-12:valid~#item14-13:valid~#item14-14:valid~#item14-15:valid~#item14-16:valid~#item14-17:valid~#item14-18:valid~#item14-20:valid~#item14-21:valid~#item14-22:valid~#item14-23:valid~#item14-24:valid~#item14-25:valid~#item14-26:valid~#item14-27:valid~#item14-28:valid~#item14-29:valid~#item15-6:valid~#item15-8:valid~#item15-15:valid~#item15-26:valid~#item16-3:valid~#item16-4:valid~#item16-5:valid~#item16-6:valid~#item16-7:valid~#item16-8:valid~#item16-10:valid~#item16-11:valid~#item16-12:valid~#item16-13:valid~#item16-14:valid~#item16-15:valid~#item16-17:valid~#item17-8:valid~#item17-11:valid~#item17-15:valid~#item17-17:valid~#item17-19:valid~#item18-4:valid~#item18-5:valid~#item18-6:valid~#item18-7:valid~#item18-8:valid~#item18-9:valid~#item18-10:valid~#item18-11:valid~#item18-13:valid~#item18-14:valid~#item18-15:valid~#item18-16:valid~#item18-17:valid~#item18-18:valid~#item18-19:valid~#item18-20:valid~#item19-8:valid~#item19-17:valid~#item19-19:valid~#item19-27:valid~#item19-29:valid~#item20-2:valid~#item20-3:valid~#item20-4:valid~#item20-5:valid~#item20-6:valid~#item20-7:valid~#item20-8:valid~#item20-9:valid~#item20-10:valid~#item20-14:valid~#item20-15:valid~#item20-16:valid~#item20-17:valid~#item20-18:valid~#item20-19:valid~#item20-27:valid~#item20-29:valid~#item21-8:valid~#item21-17:valid~#item21-19:valid~#item21-26:valid~#item21-27:valid~#item21-28:valid~#item21-29:valid~#item22-4:valid~#item22-5:valid~#item22-6:valid~#item22-7:valid~#item22-8:valid~#item22-19:valid~#item22-20:valid~#item22-21:valid~#item22-22:valid~#item22-27:valid~#item22-29:valid~#item23-5:valid~#item23-11:valid~#item23-21:valid~#item23-27:valid~#item23-29:valid~#item24-5:valid~#item24-7:valid~#item24-8:valid~#item24-9:valid~#item24-10:valid~#item24-11:valid~#item24-12:valid~#item24-13:valid~#item24-14:valid~#item24-21:valid~#item24-22:valid~#item24-23:valid~#item24-24:valid~#item24-25:valid~#item24-26:valid~#item24-27:valid~#item24-29:valid~#item25-1:valid~#item25-2:valid~#item25-3:valid~#item25-4:valid~#item25-5:valid~#item25-11:valid~#item25-14:valid~#item25-21:valid~#item25-23:valid~#item25-25:valid~#item26-5:valid~#item26-11:valid~#item26-14:valid~#item26-23:valid~#item26-25:valid~#item26-26:valid~#item26-27:valid~#item26-28:valid~#item26-29:valid~#item26-30:valid~#item27-4:valid~#item27-5:valid~#item27-6:valid~#item27-7:valid~#item27-8:valid~#item27-9:valid~#item27-10:valid~#item27-11:valid~#item27-25:valid~#item28-8:valid~#item28-22:valid~#item28-23:valid~#item28-24:valid~#item28-25:valid~#item28-26:valid~#item28-27:valid~#item28-28:valid~#item29-8:valid~#item29-23:valid~#item29-27:valid~#item30-3:valid~#item30-4:valid~#item30-5:valid~#item30-6:valid~#item30-7:valid~#item30-8:valid~#item30-9:valid~#item30-10:valid~#item30-23:valid~#item30-26:valid~#item30-27:valid~#item30-28:valid~#item30-29:valid~#item31-8:valid~#item31-10:valid~#item31-23:valid~#item31-27:valid~#item32-8:valid~#item32-10:valid~#item32-23:valid~#item33-8:valid~#item33-10:valid~#item33-23:valid~#item34-10:valid~#item35-10:valid~.crossword-complete {
  opacity: 1;
  visibility: visible;
}

.clues-img {
  max-width: 300px;
  display: block;
  display: block;
  width: 100%;
  height: auto;
}

.crossword-clues__static {
  display: none;
  position: static;
  transform: none;
  max-width: inherit;
  width: inherit;
  padding-top: 10px;
  padding-left: 0;
}

@media (max-width: 1300px) {
  .crossword-clues {
    display: none;
  }

  .crossword-clues__static {
    display: block;
  }

  .crossword-board-container {
    width: 100%;
    overflow: auto;
  }
}



// [data-id] {
//   background-color: red;
// }